---
import NavBar from "../components/NavBar.astro";
import Navigation from "../components/Navigation.astro";
import ThemeSwitcher from "../components/ThemeSwitcher.astro";
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Astro Site</title>
  </head>
  <body>
    <NavBar>
        <Navigation />
        <ThemeSwitcher />
    </NavBar>
    <main class="container mx-auto p-4">
        <slot />
    </main>
  </body>
</html>
